.ProjectFile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #caf0f8;
  border: 2px solid #03045e;
  border-radius: 0.65rem;
  position: relative;
  padding: 0.8rem;
  transition: all 0.3s ease-in;
}
.ProjectFile-content:hover {
  background-image: none;
  background-color: white;
}
.project-image {
  background-size: cover;
  position: relative;
  margin-bottom: 0.65rem;
}
.project-image img {
  width: 100%;
  height: auto;
  border: 1px solid #03045e;
  border-radius: 0.65rem;
  margin: 0;
}
.project-info {
  display: flex;
  justify-content: space-between;
}
.livedemo a {
  padding: 0.2rem;
  /* margin-top: 0.5rem; */
  background: #fff;
  color: #fb8500;
  border: 1px solid #03045e;
  border-radius: 0.35rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.8rem;
}
.livedemo a:hover {
  background: #fb8500;
  color: #fff;
}
.project-info h4 {
  padding: 0;
  margin: 0;
  color: #fb8500;
}
.project-info p {
  padding: 0;
  margin: 0;
  color: #03045e;
}

@media (max-width: 768px) {
  .ProjectFile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.4rem;
  }
  .project-image img {
    min-width: 90vw;
    height: auto;
  }

  .project-item{
    min-width: 90vw;
  }

  .card-inner{
    min-width: 90vw;
  }
}
